/* Style de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* En-tête */
.header {
    background-color: #0a358c;
    padding: 15px;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    justify-content: space-between;
}

/* Bouton déconnexion */
.logout-btn {
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logout-btn i {
    margin-right: 8px;
}

/* Contenu principal */
.contenu-pricipal {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.form-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.title {
    color: #0a358c;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    color: #0a358c;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

/* Formulaire */
.sous-form-container {
    border: 2px solid #ccc;
    padding: 25px;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.sous-form-container h2 {
    color: #020814;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    text-align: left;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.form-group input:focus, .form-group select:focus {
    border-color: #0a358c;
    outline: none;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.flex-row .form-group {
    width: 48%;
}

.buttons-pages-container {
    position: fixed;
    bottom: 50px; /* Espacement depuis le bas de la page */
    right: 20px;  /* Espacement depuis la droite de la page */
    gap: 30px;  /* Espacement entre les boutons */
    z-index: 1000;  /* S'assurer que les boutons sont au-dessus des autres éléments */
    display: flex;  /* Aligne les boutons horizontalement */
    flex-direction: row; /* Aligne les boutons sur une ligne */
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn {
    background-color: #FF6F00;
    color: white;
    padding: 15px 30px;  /* Ajustez le padding pour garder la taille */
    width: 300px;  /* Définir une largeur fixe pour les boutons */
    height: 55px;  /* Définir une hauteur fixe pour les boutons */
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    justify-content: center; /* Centrer le texte */
    align-items: center;  /* Centrer verticalement */
}
.btn:hover {
    background-color: #c05606;
    transform: scale(1.05);
}

/* Section des graphiques */
.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap; /* Permet de s'adapter aux petits écrans */
}

.div-graph {
    width: 45%; /* Chaque graphique prend environ la moitié de l'espace */
    min-width: 300px; /* Pour éviter que ça devienne trop petit */
    height: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Résultat du prix */
.result-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;  /* Centrer horizontalement */
    align-items: center;      /* Centrer verticalement */
    width: 50%;  /* Augmenter la largeur du conteneur */
    margin-left: auto;
    margin-right: auto;  /* Centrer le conteneur horizontalement dans son parent */
}

.result-container input {
    width: 100%;  /* Utiliser toute la largeur du conteneur */
    max-width: 400px; /* Ajouter une largeur maximale pour que ça ne devienne pas trop grand */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 28px;
    font-weight: bold;
    color: #0a358c;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 15px 15px rgba(255, 111, 0, 0.3);  /* Ombre orangée légère */
}

.footer {
    background-color: #0a358c;
    color: white;
    padding: 10px;
    width: 100%;
}


/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
    .buttons-pages-container {
        flex-direction: column; /* Empile les boutons verticalement */
        gap: 15px;  /* Moins d'espace entre les boutons */
        bottom: 20px; /* Réduit l'espace du bas sur petits écrans */
        right: 10px; /* Réduit l'espace à droite sur petits écrans */
    }

    .btn {
        width: 150px; /* Réduit la largeur des boutons sur petits écrans */
        height: 45px; /* Réduit la hauteur des boutons sur petits écrans */
        font-size: 16px;  /* Réduit la taille du texte sur petits écrans */
    }
}

@media (max-width: 480px) {
    .btn {
        width: 130px; /* Réduit encore plus la largeur sur très petits écrans */
        height: 40px; /* Réduit encore plus la hauteur sur très petits écrans */
        font-size: 14px;  /* Réduit davantage la taille du texte sur très petits écrans */
    }
}